{% extends 'base.html.twig' %}

{% block title %}Size index{% endblock %}

{% block body %}
    <h1>Size index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for size in sizes %}
            <tr>
                <td>{{ size.id }}</td>
                <td>{{ size.name }}</td>
                <td>
                    <a href="{{ path('size_show', {'id': size.id}) }}">show</a>
                    <a href="{{ path('size_edit', {'id': size.id}) }}">edit</a>
                    <a href="{{ path('size_delete', {'id': size.id}) }}">delete</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('size_new') }}">Create new</a>
        <a href="{{ path('index') }}">Back</a>

{% endblock %}
